TeacherJournal.BusinessLogic/obj/
TeacherJournal.BusinessLogic/bin/
TeacherJournal.Core/obj/
TeacherJournal.Core/bin/
TeacherJournal.DataAccess/obj/
TeacherJournal.DataAccess/bin/
TeacherJournal.UnitTests/obj/
TeacherJournal.UnitTests/bin/
*.db